.post-list {
  padding: 0;

  .post-item {
    margin-bottom: 1rem;
    margin-left: 0;
    list-style-type: none;

    .meta {
      display: block;
      margin-right: 16px;
      min-width: 100px;
      font-size: 14px;
    }
  }
}
.tagcloud {
  a {
    white-space: nowrap;
    font-size: 25px; /* if data-count larger than 2 */
  }
  a[data-count="1"] {
    font-size: 15px;
  }
  a[data-count="2"] {
    font-size: 20px;
  }
}
@media screen and (max-width: 480px) {
  .tagcloud {
    a {
      line-height: 48px;
      font-size: 40px;
    }
    a[data-count="1"] {
      font-size: 20px;
    }
    a[data-count="2"] {
      font-size: 32px;
    }
  }
}
@media (min-width: 480px) {
  .post-list {
    .post-item {
      display: flex;
      margin-bottom: 5px;

      .meta {
        text-align: left;
      }
    }
  }
}
.project-list {
  padding: 0;
  list-style: none;

  .project-item {
    margin-bottom: 5px;
    p {
      display: inline;
    }
  }
}