// Fonts
$font-family-body: "JetBrains Mono", monospace !default;
$font-family-mono: "JetBrains Mono", monospace !default;
$font-family-tt: "Inconsolata", monospace !default;
$font-size: 14px !default;
$line-height: 1.725 !default;
$page-width: 48rem !default;
// Logo
$logo-width: 50px !default;
$logo-height: 50px !default;
$logo-grayout: true !default;
// Colors
$colors: "dark" // white dark light classic