{{ $enable_comments := .Scratch.Get "enable_comments" }}
{{ if $enable_comments -}}
{{- if .Site.Params.Comments.insert_hr_line -}}<hr/>
{{ end -}}
  <div class="blog-post-comments">
    {{ if (or (not (isset .Site.Params.Comments "engine")) (eq .Site.Params.Comments.Engine "disqus")) }}
      {{ partial "comments/disqus.html" . }}
    {{ else if eq .Site.Params.Comments.Engine "utterances" }}
      {{ partial "comments/utterances.html" . }}
    {{ else if eq .Site.Params.Comments.Engine "cactus_comments" }}
      {{ partial "comments/cactus_comments.html" . }}
    {{ else if eq .Site.Params.Comments.Engine "remark42" }}
      {{ partial "comments/remark42.html" . }}
    {{ end }}
  </div>
{{ end }}
