<header id="header">
  <a href="{{ .Site.BaseURL }}">
  {{ if (isset .Site.Params "gravatar") }}
    <img id="logo" src="https://www.gravatar.com/avatar/{{ md5 .Site.Params.gravatar }}?s=100&d=identicon">
  {{ else if (isset .Site.Params "logo") }}
    <img id="logo" src="{{ .Site.Params.logo | absURL }}">
  {{ else }}
    <img id="logo" src="{{ "images/logo.png" | absURL }}">
  {{ end}}
  <div id="title">
    <h1>{{ .Site.Title }}</h1>
  </div>
  </a>
  <div id="nav">
    <ul>
      <li class="icon">
        <a href="#" aria-label="Menu"><i class="fas fa-bars fa-2x" aria-hidden="true"></i></a>
      </li>
      {{ range .Site.Menus.main }}
        <li><a href="{{ .URL }}">{{ .Name }}</a></li>
      {{ end }}
    </ul>
  </div>
</header>

