// Fonts
$font-family-body = "JetBrains Mono", monospace
$font-family-mono = "JetBrains Mono", monospace
$font-family-tt = "Inconsolata", monospace
$font-size = 14px
$line-height = 1.725
$page-width = 39rem
// Logo
$logo-width = 0px
$logo-height = 0px
$logo-grayout = true
// Colors
$colors = "dark"
