$color-background: #fafafa !default;
$color-footer-mobile-1: darken($color-background, 2%) !default;
$color-footer-mobile-2: darken($color-background, 10%) !default;
$color-background-code: darken($color-background, 2%) !default;
$color-border: #666 !default;
$color-meta: #666 !default;
$color-meta-code: lighten($color-meta, 10%) !default;
$color-link: rgba(86, 124, 119, .4) !default;
$color-text: #22272a !default;
$color-accent-1: #cc2a41 !default;
$color-accent-2: rgba(86, 124, 119, .8) !default;
$color-accent-3: #666 !default;
$color-quote: #cc2a41 !default;