$color-background: #1d1f21 !default;
$color-footer-mobile-1: lighten($color-background, 2%) !default;
$color-footer-mobile-2: lighten($color-background, 10%) !default;
$color-background-code: lighten($color-background, 2%) !default;
$color-border: #666 !default;
$color-meta: #666 !default;
$color-meta-code: #666 !default;
$color-link: rgba(212, 128, 170, 1) !default;
$color-text: #c9cacc !default;
$color-accent-3: #cccccc !default;
$color-accent-2: #eeeeee !default;
$color-accent-1: #2bbc8a !default;
$color-quote: #ccffb6 !default;