// by @sergodeeva (https://github.com/sergodeeva)
$color-background: #FFFFFF !default;
$color-footer-mobile-1: darken($color-background, 2%) !default;
$color-footer-mobile-2: darken($color-background, 10%) !default;
$color-background-code: darken($color-background, 2%) !default;
$color-border: #666 !default;
$color-meta: #666 !default;
$color-meta-code: lighten($color-meta, 10%) !default;
$color-link: rgba(212, 128, 170, 1) !default;
$color-text: #383838 !default;
$color-accent-3: #8c8c8c !default;
$color-accent-2: #383838 !default;
$color-accent-1: #2bbc8a !default;
$color-quote: #2bbc8a !default;